.grid [ui-grid] {
	height:500px;
}

/* ui-grid override */
.ui-grid-header-cell-wrapper {
	height:initial !important;
}

.grid [ui-grid] .ui-grid-filter-container,
.grid [ui-grid] .ui-grid-filter-container input[type=text] {
	padding: 4px !important;
}

.grid [ui-grid] .ui-grid-filter-container .ui-grid-filter-button [class^="ui-grid-icon"] {
	position: initial !important;
}